{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
<title>Cake Caffe - taste the difference</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="Your description">
<meta name="keywords" content="Your keywords">
<meta name="author" content="Your name">
<link rel="icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon">
<link rel="shortcut icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon" />

<link rel="stylesheet" href="{% static 'css/bootstrap.css' %}" type="text/css" media="screen">
<link rel="stylesheet" href="{% static 'css/bootstrap-responsive.css' %}" type="text/css" media="screen">
<link rel="stylesheet" href="{% static 'css/camera.css' %}" type="text/css" media="screen">
<link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css" media="screen">

<!--[if lt IE 8]>
		<div style='text-align:center'>
<a href="http://www.microsoft.com/windows/internet-explorer/default.aspx?ocid=ie6_countdown_bannercode">
<img src="http://www.theie6countdown.com/images/upgrade.jpg"border="0"alt=""/>
</a>
</div>
	<![endif]-->

<!--[if lt IE 9]>
  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <link rel="stylesheet" href="{% static 'css/ie.css' %}" type="text/css" media="screen">
<![endif]-->
</head>

<body class="main">
<div id="main">

<div class="top1">
<div class="container">
<div class="row">
<div class="span12">
<div class="top1_inner clearfix">
	<header><div class="logo_wrapper"><a href="index.html" class="logo"><h1>ISSIQNON</h1></a></div></header>
</div>
</div>
</div>
</div>
</div>

<div class="hl1"></div>
<div class="hl2">
<div class="hl2_2">
<div class="container">
<div class="row">
<div class="span12">
<div class="hl2_2_inner">
	<div class="hl2_2_left"></div>
	<div class="hl2_2_px"></div>
	<div class="hl2_2_right"></div>
</div>
</div>
</div>
</div>
</div>
<div class="hl2_inner">
<div class="container">
<div class="row">
<div class="span12">
<div class="hl1_inner2">
	<div class="navbar navbar_">
		<div class="navbar-inner navbar-inner_">
			<a class="btn btn-navbar btn-navbar_" data-toggle="collapse" data-target=".nav-collapse_">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</a>
			<div class="nav-collapse nav-collapse_ collapse">
				<ul class="nav sf-menu clearfix">
					<li class="active"><a href="{% url 'blog:index' %}">home</a></li>
					<li class="sub-menu sub-menu-1"><a href="{% url 'blog:about' %}">about</a>
					</li>
					<li><a href="{% url 'blog:products' %}">our cakes</a></li>
					<li><a href="{% url 'blog:service' %}">services</a></li>
					<li><a href="{% url 'blog:menu' %}">MENU</a></li>
					<li><a href="{% url 'blog:contact' %}">contacts</a></li>
				</ul>
			</div>
		</div>
	</div>

	<div id="slider_wrapper">


		<div id="slider" class="clearfix">
			<div id="camera_wrap">
                                                        {% for p in product %}
				<div data-src="{{ p.image.url }}">
					<div class="camera_caption fadeIn">
						<div class="txt1">{{ p.name }}</div>
						<div class="txt2">{{ p.price }} SO'M</div>
					</div>     
				</div>
                                                        {% endfor %}
                {% for p in product  %}
				<div data-src="{{ p.image.url }}">
					<div class="camera_caption fadeIn">
						<div class="txt1">{{ p.name }}</div>
						<div class="txt2">{{ p.price }} SO'M</div>
					</div>     
				</div>
            {% endfor %}

			</div>

		</div>
		<div class="slider_shadow"><img src="{{ p.image.url }}" alt=""></div>
	</div>

	<div class="page_title"><div class="page_title_left"></div><div class="page_title_px">Our Best Products</div><div class="page_title_right"></div></div>
	<div id="slider3">
		<a class="prev3" href="#"></a>
		<a class="next3" href="#"></a>	
		<div class="carousel-box row">

			<div class="inner span12">

				<div class="carousel main">

					<ul>
                                                {% for p in product %}

						<li>
							<div class="thumb-carousel banner1">
								<div class="thumbnail clearfix">
									<a href="{% url 'blog:index' %}">
										<figure style="height: 300px; width: 300px;">
											<img height="277" width="277" src="{{ p.image.url }}" alt="">
										</figure>
										<div class="caption">
											{{ p.name }}
										</div>								
									</a>
								</div>
							</div>

						</li>
						<li>

						</li>

                    {% endfor %}

					</ul>
				</div>

			</div>

		</div>
		</div>
</div>	
</div>	
</div>	
</div>	
</div>
</div>
<div class="hl3"></div>

<div id="content">
<div class="container">
<div class="row">
<div class="span8">
<div class="box1">
	
	<h1>Little About Us</h1>

	<h4>
		Manzil: Farg'ona viloyati Marg'ilon shahar Asr to'yxonasi oldida
	</h4>

	<div class="thumb1">
		<div class="thumbnail clearfix">
			<figure class="img-polaroid img-rounded"><img height="167" width="218" src="/media/image/photo_2021-09-02_17-54-26.jpg" alt=""></figure>
			<div class="caption">
				<p>
					Pishiriqlar va shirinliklar tayyorlash retsepti, usullarini qidirmoqdamisiz, unda bizning pishiriqlar kitobini ko’ring. Ushbu bo’limda hatto ko’nikmasi bo’lmagan pazandalar ham oddiy va mazali pishiriqlar retseptini topishi mumkin. Uy sharoitida tayyorlangan har qanday shirinlik o’zgacha mazali chiqadi. Tortlar, bulochkalar, piroglar, pechene va boshqa ko’plab mashhur pishiriqlar tayyorlash uzbek tilida keltiriladi. Barchasi sodda va batafsil: kerakli masalliqlar, tayyorlashga ketadigan vaqt, bosqichlar, bezatish usullari.
				</p>
				<p>
				</p>
			</div>
		</div>
	</div>









</div>	
</div>	
<div class="span4">
<div class="box2">
	<div class="box2_title"><h3>Services</h3></div>
	<div class="box2_inner">
		<ul class="ul0">
            {% for c in category %}
		  <li><a href="{% url 'blog:cat_slug' c.slug %}">{{ c.name }}</a></li>
            {% endfor %}
		</ul>
	</div>
</div>	
</div>
</div>	
</div>	
</div>
<div class="container">
<div class="row">
<div class="span12">
<div class="bot1">
<div class="bot1_inner">
	<div class="menu_bot">
	    <ul id="menu_bot" class="clearfix">
	      <li><a href="{% url 'blog:index' %}">home</a></li>
	      <li><a href="{% url 'blog:about' %}">about</a></li>
	      <li><a href="{% url 'blog:products' %}">our cakes</a></li>
	      <li><a href="{% url 'blog:service' %}">services</a></li>
	      <li><a href="{% url 'blog:menu' %}">MENU</a></li>
	      <li><a href="{% url 'blog:contact' %}">contacts</a></li>
	    </ul>
	</div>
</div>	
</div>
<footer>
	<div class="copyright">Copyright © 2020 <a href="https://gridgum.com/themes/category/free/">Free Bootstrap Templates</a>. All rights reserved.</div>
</footer>	
</div>	
</div>	
</div>
<script type="text/javascript" src="{% static 'js/jquery.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jquery.easing.1.3.js' %}"></script>
<script type="text/javascript" src="{% static 'js/superfish.js' %}"></script>

<script type="text/javascript" src="{% static 'js/jquery.ui.totop.js' %}"></script>

<script type="text/javascript" src="{% static 'js/camera.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jquery.mobile.customized.min.js' %}"></script>

<script type="text/javascript" src="{% static 'js/jquery.caroufredsel.js'%} "></script>
<script type="text/javascript" src="{% static 'js/jquery.touchSwipe.min.js' %}"></script>

<script>
$(document).ready(function() {
	// camera
	$('#camera_wrap').camera({
		//thumbnails: true
		autoAdvance			: true,
		mobileAutoAdvance	: true,
		//fx					: 'simpleFade',
		height: '51%',
		hover: false,
		loader: 'none',
		navigation: true,
		navigationHover: true,
		mobileNavHover: true,
		playPause: false,
		pauseOnClick: false,
		pagination			: false,
		time: 7000,
		transPeriod: 1000,
		minHeight: '200px'
	});

	//	carouFredSel
	$('#slider3 .carousel.main ul').carouFredSel({
		auto: {
			timeoutDuration: 8000
		},
		responsive: true,
		prev: '.prev3',
		next: '.next3',
		width: '100%',
		scroll: {
			items: 1,
			duration: 1000,
			easing: "easeOutExpo"
		},
		items: {
        	width: '320',
			height: 'variable',	//	optionally resize item-height
			visible: {
				min: 1,
				max: 4
			}
		},
		mousewheel: false,
		swipe: {
			onMouse: true,
			onTouch: true
			}
	});
	$(window).bind("resize",updateSizes_vat).bind("load",updateSizes_vat);
	function updateSizes_vat(){
		$('#slider3 .carousel.main ul').trigger("updateSizes");
	}
	updateSizes_vat();

}); //
$(window).load(function() {
	//

}); //
</script>



	
</div>
<script type="text/javascript" src="{% static 'js/bootstrap.js' %}"></script>
</body>
</html>